<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>devapi.menkule.com.tr</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>185.122.200.178</MSDeployServiceURL>
    <DeployIisAppPath>devapi.menkule.com.tr</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="rest_api.Models.MigrationContexts" Order="1" Enabled="False">
          <Destination Path="Data Source=185.122.200.178\SQLEXPRESS;Initial Catalog=dev_menkule;User ID=menkuleuser;Password=mercksap651!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="rest_api.Models.MigrationContexts, rest_api" MigrationConfiguration="rest_api.Migrations.Configuration, rest_api" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="rest_api.Context.DatabaseContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="rest_api.Context.DatabaseContext, rest_api" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionStrDev" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=185.122.200.178\SQLEXPRESS;Initial Catalog=dev_menkule;User ID=menkuleuser;Password=mercksap651!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionStrDev_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=185.122.200.178\SQLEXPRESS; database=dev_menkule;User Id=menkuleuser;Password=mercksap651!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionStr" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=185.122.200.178\SQLEXPRESS;Initial Catalog=menkule;User ID=menkuleuser;Password=mercksap651!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionStr_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=185.122.200.178\SQLEXPRESS; database=menkule;User Id=menkuleuser;Password=mercksap651!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionStr-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionStrDev-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)rest_api.Context.DatabaseContext-Web.config Connection String" />
    <MSDeployParameterValue Include="rest_api.Models.MigrationContexts-Web.config Connection String">
      <ParameterValue>Data Source=185.122.200.178\SQLEXPRESS;Initial Catalog=dev_menkule;User ID=menkuleuser;Password=mercksap651!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="rest_api.Models.MigrationContexts-Web.config Connection String">
      <ParameterValue>Data Source=185.122.200.178\SQLEXPRESS;Initial Catalog=dev_menkule;User ID=menkuleuser;Password=mercksap651!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="rest_api.Models.MigrationContexts-Web.config Connection String">
      <ParameterValue>Data Source=185.122.200.178\SQLEXPRESS;Initial Catalog=dev_menkule;User ID=menkuleuser;Password=mercksap651!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ConnectionStr-Web.config Connection String">
      <ParameterValue>Data Source=185.122.200.178\SQLEXPRESS;Initial Catalog=menkule;User ID=menkuleuser;Password=mercksap651!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ConnectionStr-Web.config Connection String">
      <ParameterValue>Data Source=185.122.200.178\SQLEXPRESS;Initial Catalog=menkule;User ID=menkuleuser;Password=mercksap651!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ConnectionStr-Web.config Connection String">
      <ParameterValue>Data Source=185.122.200.178\SQLEXPRESS;Initial Catalog=menkule;User ID=menkuleuser;Password=mercksap651!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ConnectionStr-Web.config Connection String">
      <ParameterValue>Data Source=185.122.200.178\SQLEXPRESS;Initial Catalog=menkule;User ID=menkuleuser;Password=mercksap651!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ConnectionStr-Web.config Connection String">
      <ParameterValue>Data Source=185.122.200.178\SQLEXPRESS;Initial Catalog=menkule;User ID=menkuleuser;Password=mercksap651!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ConnectionStr-Web.config Connection String">
      <ParameterValue>Data Source=185.122.200.178\SQLEXPRESS;Initial Catalog=menkule;User ID=menkuleuser;Password=mercksap651!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ConnectionStr-Web.config Connection String">
      <ParameterValue>Data Source=185.122.200.178\SQLEXPRESS;Initial Catalog=menkule;User ID=menkuleuser;Password=mercksap651!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="rest_api.Context.DatabaseContext" />
    <_ConnectionStringsToInsert Include="rest_api.Models.MigrationContexts" />
  </ItemGroup>
</Project>